#rb-customizer-settings-save-button {
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 999999999999999999;
    padding: 0.75rem 1rem;
    background-color: #1dcece;
    margin: 1rem;
    opacity: 0.5;
    transition: all 0.2s;
    font-weight: bold;
    letter-spacing: 0.5px;
    user-select: none;
    cursor: pointer;
    min-width: 9rem;
    min-height: 3rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}


#rb-customizer-settings-save-button:hover {
    opacity: 1;
}

#rb-customizer-save-container {
    display: none;
    /* transition: all 0.2s; */
}

#rb-customizer-save-container.active{
    opacity: 1;
}

#rb-customizer-save-container.saving #rb-customizer-settings-save-button {
    color: transparent;
    overflow: hidden;
    opacity: 1;
    /* transition: auto; */
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #1dcece36;
    border: dotted 3px #1dcece;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}

#rb-save-button-container {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 999999999999;
}

#rb-customizer-save-container.saving #rb-save-button-container {
    /* width: 5rem; */
    /* height: 5rem; */
}

#rb-customizer-edition-icons{
    overflow: hidden;
}

.rb-customizer-edition-image{
    position: absolute;
    z-index: 99999;
    height: 2rem;
    cursor: pointer;
    transition: all 0.2s;
    /* left: 22px!important; */
    opacity: 0.5;
}

*:hover > .rb-customizer-edition-image, #rb-customizer-edition-icons .rb-customizer-edition-image {
    opacity: 1;
}

#rb-customizer-preview{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    height: 100%;
    z-index: 99999999999999999999999;
}
