#zoomed-images-holder {
    position: fixed;
	cursor: pointer;
    width: 100vw;
    height: 0;
    overflow: hidden;
    background: rgba(238, 238, 238, 0.9);
    z-index: 999999999999;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}

#zoomed-images-holder > div {
	max-height: 90vh;
    max-width: 90vw;
    overflow: auto;	
}

.dbl-click-text {
    font-size: 1.333rem;
    color: #007984;
}

.zoom-out-text{
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border: solid 0.3rem #007984;
	border-radius: 0.3rem;
    padding: 1rem;
    position: absolute;
    z-index: 34234;
    left: 45%;
	opacity: 0.5;
	transition: all 0.4s;
}

.zoom-out-text:hover{
    opacity: 1;
}

/*SELECT RADIO WITH IMAGES CONTROL*/
/*************************************************************************************************/
.image-choice {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-top: 1rem;
    max-width: 100%;
	position: relative;
}

.image-selection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-choice > input[type="radio"]:checked {
    border-color: #3300ff;
    box-shadow: 0px 0px 8px 0px #3300ff;
}

input[type=radio]:checked:before {
    display: none ;
}

.image-choice > input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: transparent;
    color: transparent;
}

.image-choice > input[type="radio"]:checked {
    border-color: #3300ff;
    box-shadow: 0px 0px 8px 0px #3300ff;
}

.customize-control select{
	height: auto;
}

input ~ label{
	display: inline;
}