.tinymce-placeholder {
    position:  relative;
}

.customize-tinymce-control .edit-button, .rb-tinymce-control .edit-button {
    position:  absolute;
    width:  100%;
    height:  100%;
    top: 0;
    left:  0;
    display:  flex;
    align-items:  center;
    justify-content:  center;
    background-color: rgba(173, 219, 255, 0.74);
    color: #555d66;
    font-weight:  bold;
    font-size: 4rem;
    transition:  all 0.3s;
    user-select:  none;
}

.customize-tinymce-control .tinymce-content-preview, .rb-tinymce-control .tinymce-content-preview {
    margin-bottom:  0;
}

.customize-tinymce-control .edit-button:hover, .rb-tinymce-control .edit-button:hover {
    background-color: rgba(253, 42, 95, 0.8);
    color: #ffffff;
}
